.title {
  font-weight: 700;
  color: #505050;
  display: inline-block;
  margin-bottom: 1rem;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 2px;
  width: 12rem;
  margin-bottom: 16px;
}

.position {
  margin-top: -2%;
}

.experience {
  padding: 2% 0;
}

.info {
  padding: 0 4%;
}

.line {
  width: 10%;
  border-width: 4px;
  margin-left: 0;
}

.linkHoverable:hover {
  text-decoration: underline black;
  color: black;
}

.nonHoverable {
  cursor: default;
  text-decoration: none;
  color: #505050;
}