.header {
  color: var(--theme-page-text);
  font-weight: 800;
  margin: 0 0 32px 0;
}

.headerNum {
  color: var(--theme-color);
}

.cards {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
