.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  flex: 1;
  padding: 16px;
}

.mapContainer {
  flex: 2;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.table {
  width: 100%;
}

.tableRow {
  border-radius: 8px;
}

.tableRow:nth-child(even) {
  background-color: #e9f2fe;
}

.tableRowHovered {
  background: linear-gradient(90deg, #3788f2, #56CCF2) !important;
  color: white;
}

.tableHeader, .tableElement {
  padding: 8px;
}

@media (max-width: 768px) {
  .mapContainer {
    display: none;
  }
}
