.section {
  margin: 10em auto;
}

.header {
  color: var(--theme-page-text);
  font-weight: bold;
}

.headerGroup {
  font-weight: bold;
  margin-bottom: 2.5em;
}

.headerNum {
  color: var(--theme-color);
}

.experienceGroup {
  margin-bottom: 4em;
}

.companyImage {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 16px;
}

.companyInfo {
  color: var(--theme-page-text);
}

.name {
  font-weight: bold;
}

.position {
  font-style: italic;
  margin-top: -12px;
}

.line {
  width: 10%;
  border-width: 2px;
  border-color: var(--theme-color);
  margin-left: 0;
  margin-top: -8px;
}