.section {
  margin-top: 10em;
}

.content {
  margin-bottom: 2em;
}

.subtitle {
  font-weight: 500;
  font-size: 2em;
  color: #4A74E1;
}

.name {
  font-weight: 500;
  font-size: 6em;
  color: #303030;
  margin-left: -4px;
}

.description {
  color: #303030;
}

.period {
  color: #4A74E1;
}

.button {
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
}

.resume {
  background-color: #303030;
}

.resume:hover {
  background-color: #404040;
}

.contact {
  background: none;
  color: #303030;
  border: 2px solid #303030;
}

.contact:hover {
  background-color: #303030;
  border: 2px solid #303030;
  color: #FFFEFB;
}

.contactIcon, .resumeIcon {
  width: 0.9em;
  margin-right: 8px;
  margin-top: -2px;
}

.hero {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-top: 1em;
  transition: all 0.25s ease;
}