.section {
  margin-top: 6em;
}

.link {
  font-weight: 500;
  color: #4A74E1;
}

.link:hover {
  color: #4A74E1;
}

.headerGroup {
  font-weight: 500;
}

.headerNum {
  color: #4A74E1;
}

.thingsGroup {
  margin-top: 1.5em;
}

.thingsHeader {
  font-weight: 500;
  color: #303030;
}

.thingsList {
  margin-top: -8px;
  margin-left: -20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 100%;
  border-radius: 50%;
  margin-top: 2em;
  padding: 1em;
  pointer-events: none;
}