.section {
  margin-top: 6em;
}

.link {
  font-weight: 500;
  color: #303030;
}

.link:hover {
  color: #303030;
}

.headerGroup {
  font-weight: 500;
}

.headerNum {
  color: #808080;
}

.thingsGroup {
  margin-top: 1.5em;
}

.thingsHeader {
  font-weight: 500;
  color: #303030;
}

.thingsList {
  margin-top: -8px;
  margin-left: -20px;
}

.image {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 50%;
  margin-top: 1.5em;
}