.logo {
  width: 85%;
}

.navbar, .navCollapse {
  background-color: var(--theme-page-background);
}

.navLink {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--theme-page-text) !important;
} 

.navLink:hover {
  cursor: pointer;
}

.navNum {
  color: var(--theme-color);
}

.toggler {
  border: none;
}

.menuIcon {
  width: 48px;
}

.switch {
  margin-top: 5px;
  margin-left: 24px;
  margin-bottom: 5px;
}