.logo {
  width: 90%;
}

.navbar, .navCollapse {
  background-color: #fffefb;
}

.navLink {
  font-weight: 500;
  font-size: 1.2em;
  color: #303030 !important;
} 

.navLink:hover {
  cursor: pointer;
}

.navNum {
  color: #808080;
}

.toggler {
  border: none;
}

.togglerIcon {
  width: 32px;
}