.logo {
  width: 85%;
}

.navbar, .navCollapse {
  background-color: var(--theme-page-background);
}

.navLink {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--theme-page-text) !important;

  @media (max-width: 576px) {
    margin-left: 16px;
  }
} 

.navLink:hover {
  cursor: pointer;
}

.navNum {
  color: var(--theme-color);
}

.toggler {
  border: none;
}

.menuIcon {
  width: 48px;
}

.toggle {
  // margin-left: 24px;

  @media (max-width: 576px) {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 1rem !important;
  }
}
