.logo {
  width: 48px;
}

.navbar, .navCollapse {
  background-color: var(--theme-page-background);
}

.navbarContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
}

.navbar {
  padding: 16px 32px;
  box-sizing: border-box;
}

.navbarBrand {
  margin: 0;
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.navLink {
  font-weight: 800;
  font-size: 1.2em;
  color: var(--theme-page-text) !important;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (max-width: 576px) {
    margin-left: 16px;
  }
} 

.navLink:hover {
  cursor: pointer;
}

.navNum {
  color: var(--theme-color);
}

.toggler {
  border: none;
}

.menuIcon {
  width: 48px;
}

.toggle {
  @media (max-width: 576px) {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 1rem !important;
  }
}
