@font-face {
  font-family: "Geomanist";
  src: url("/fonts/hinted-Geomanist-Regular.ttf");
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/hinted-Geomanist-Medium.ttf");
  font-display: auto;
  font-weight: bold;
}
