@font-face {
  font-family: "Greycliff";
  src: url("/fonts/greycliff/Greycliff-CF-Regular.otf");
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: "Greycliff";
  src: url("/fonts/greycliff/Greycliff-CF-Regular-Oblique.otf");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Greycliff";
  src: url("/fonts/greycliff/Greycliff-CF-Medium.otf");
  font-display: auto;
  font-weight: 500;
}

@font-face {
  font-family: "Greycliff";
  src: url("/fonts/greycliff/Greycliff-CF-Bold.otf");
  font-display: auto;
  font-weight: 700;
}

@font-face {
  font-family: "Greycliff";
  src: url("/fonts/greycliff/Greycliff-CF-Extra-Bold.otf");
  font-display: auto;
  font-weight: 800;
}
