.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.subtitle {
  font-weight: 800;
  font-size: 32px;
  color: var(--theme-color);
  margin: 0;
}

.name {
  font-weight: 800;
  font-size: 96px;
  color: var(--theme-page-text);
  margin: 0;
}

.description {
  color: var(--theme-page-text);
  margin: 0;
}

.period {
  color: var(--theme-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonGroup {
  display: flex;
  gap: 16px;
  margin: 48px 0 0 0;
}

.link:hover {
  text-decoration: none;
}

.icon {
  width: 16px;
}

.hero {
  width: 95%;
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
  transition: all 0.25s ease;
  filter: saturate(0);
  border-radius: 50%;
  border: 8px solid var(--theme-color);
}

.hero:hover {
  filter: saturate(1);
}

@media (max-width: 768px) {
  .hero {
    width: 60%
  }
}

@media (max-width: 576px) {
  .section {
    padding-top: 4em;
  }

  .hero {
    width: 75%
  }
}

@media (max-width: 320px) {
  .section {
    padding-top: 6em;
  }

  .resume {
    margin-top: 8px;
  }
}

.particles {
  position: absolute;
  background-size: cover;
  max-width: 1600px;
}
