.section {
  height: 100vh;
}

.subtitle {
  font-weight: 800;
  font-size: 2em;
  color: var(--theme-color);
}

.name {
  font-weight: 800;
  font-size: 6em;
  color: var(--theme-page-text);
  margin-left: -4px;
}

.description {
  color: var(--theme-page-text);
}

.period {
  color: var(--theme-color);
}


.contactIcon, .resumeIcon {
  width: 0.9em;
  margin-right: 10px;
  margin-top: -2px;
}

.hero {
  width: 95%;
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
  transition: all 0.25s ease;
  filter: saturate(0);
  border-radius: 50%;
  border: 8px solid var(--theme-color);
}

.hero:hover {
  filter: saturate(1);
}

@media (max-width: 768px) {
  .hero {
    width: 60%
  }
}

@media (max-width: 576px) {
  .section {
    padding-top: 4em;
  }

  .hero {
    width: 75%
  }
}

@media (max-width: 320px) {
  .section {
    padding-top: 6em;
  }

  .resume {
    margin-top: 8px;
  }
}

.particles {
  position: absolute;
  background-size: cover;
  max-width: 1600px;
}
