.card {
  display: flex;
  text-decoration: none;
  color: black;
  height: 48px;
  width: 296px;
  background-color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.card:hover {
  text-decoration: none;
  color: black;
}
