.container {
  margin-top: 4em;
  padding-top: 4em;
  padding-bottom: 4em;
}

.link {
  margin: auto 1.25em;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.15s ease;
}

.icon:hover {
  transform: scale(1.25);
}

.message {
  margin-top: 3em;
  color: #808080;
  font-size: 14px;
}