.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 128px 0 0 0;
}

.link {
  margin: auto 1.25em;
  color: var(--theme-page-text);
  transition: all 0.25s ease;
}

.link:hover {
  color: var(--theme-color);
}

.iconGroup {
  text-align: center;
}

.icon {
  width: 1.5em;
  margin: 0.5em auto;
}

.message {
  color: #808080;
  font-size: 14px;
  margin: 32px 0;
}