.section {
  margin-top: 10em;
}

.content {
  margin-bottom: 2em;
}

.subtitle {
  font-weight: 500;
  font-size: 2em;
  color: #4A74E1;
}

.name {
  font-weight: 500;
  font-size: 6em;
  color: #303030;
  margin-left: -4px;
}

.description {
  color: #303030;
}

.period {
  color: #4A74E1;
}

.button {
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
}

.resume {
  background-color: #303030;
  border: none;
}

.resume:hover {
  background-color: #4A74E1;
}

.contact {
  background: none;
  color: #303030;
  border: 2px solid #303030;
}

.contact:hover {
  color: #4A74E1;
  border: 2px solid #4A74E1;
  background: none;
}

.contactIcon, .resumeIcon {
  width: 0.9em;
  margin-right: 10px;
  margin-top: -2px;
}

.hero {
  width: 95%;
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
  transition: all 0.25s ease;
  filter: saturate(0);
  border-radius: 50%;
  border: 8px solid #4A74E1;
}

.hero:hover {
  filter: saturate(1);
}