.light {
  --theme-color: #6E90E8;
  --theme-page-background: #fffefb;
  --theme-page-text: #222222;
  transition: ease 0.5s;
}

.tan {
  --theme-color: #6E90E8;
  --theme-page-background: #f1e7d0;
  --theme-page-text: #222222;
  transition: ease 0.5s;
}

.dark {
  --theme-color: #6E90E8;
  --theme-page-background: #222222;
  --theme-page-text: #fffefb;
  transition: ease 0.5s;
}
