.cardInfo {
  padding: 32px;
  padding-top: 36px;
  color: #303030;
  border: 2px solid #303030;
  border-radius: 8px;
  height: 248px;
  margin-bottom: 2em;
  transition: all 0.25s ease;
  box-shadow: -12px 12px 0px #303030;
  position: relative;
}

.cardInfo:hover {
  box-shadow: none;
  transform: translate(-12px, 12px)
}

.name {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.github {
  float: right;
  width: 1.25em;
  color: #303030;
  transition: all 0.25s ease;
}

.github:hover {
  color: #4A74E1;
}

.badge {
  background-color: #4A74E1;
  position: absolute;
  bottom: 32px;
}