.section {
  margin: 10em auto;
}

.header {
  color: var(--theme-page-text);
  font-weight: 800;
}

.headerGroup {
  font-weight: bold;
  margin-bottom: 2.5em;
}

.headerNum {
  color: var(--theme-color);
}

.experienceGroup {
  margin-bottom: 4em;
}

.companyImage {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 16px;
}

.companyInfo {
  color: var(--theme-page-text);
}

.name {
  font-weight: bold;
}

.position {
  font-style: italic;
  margin-top: -12px;
}

.line {
  width: 10%;
  border-width: 2px;
  border-color: var(--theme-color);
  margin-left: 0;
  margin-top: -8px;
}

.link {
  font-weight: bold;
  color: var(--theme-color);
}

.link:hover {
  color: var(--theme-color);
}

.initiativesList {
  list-style: none;
  padding: 0;
  margin: 0 0 0 24px;
}

.initiative {
  &::before {
    content: "ï¹£";
    color: var(--theme-color);
    display: inline-block;
    width: 24px;
    margin-left: -24px;
    padding: 0;
  }
}
