.section {
  max-width: 1152px;
  margin: 0 auto;
}

.header {
  color: var(--theme-page-text);
  font-weight: 800;
  margin: 0 0 32px 0;
}

.headerGroup {
  font-weight: bold;
  margin-bottom: 2.5em;
}

.headerNum {
  color: var(--theme-color);
}

.experiences {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.experience:not(:last-child) {
  margin-bottom: 64px;
}

.companyImage {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 320px;
}

.companyInfo {
  color: var(--theme-page-text);
  flex: 1;
}

.name {
  font-weight: bold;
}

.position {
  font-style: italic;
  margin-top: -12px;
}

.line {
  width: 10%;
  border-width: 2px;
  border-color: var(--theme-color);
  margin-left: 0;
  margin-top: -8px;
}

.link {
  font-weight: bold;
  color: var(--theme-color);
}

.link:hover {
  color: var(--theme-color);
}

.initiativesList {
  list-style: none;
  padding: 0;
  margin: 0 0 0 24px;
}

.initiative {
  &::before {
    content: "﹣";
    color: var(--theme-color);
    display: inline-block;
    width: 24px;
    margin-left: -24px;
    padding: 0;
  }
}
